*.pyc
*.pyo
*.egg-info
.tox
.DS_Store
*.bak
*.c
*.so
*.mo
.vagrant
*.sqlite3
*.*-journal
*.log
__pycache__
bin
build
develop-eggs
dist
eggs
parts
node_modules/
/_cache
/data
/public/
/roles/*.*
/conf/dev.config.py
*.retry
*.rdb
