SECRET_KEY = '{{ secret_key }}'
SQLALCHEMY_DATABASE_URI = '{{ web_database_uri }}'

ASSETS_FILE = '{{ web_conf_dir }}/assets.json'

OAUTH_CACHE_DIR = '/tmp/playground'

GOOGLE_CLIENT_ID = '{{ google_client_id }}'
GOOGLE_CLIENT_SECRET = '{{ google_client_secret }}'

TWITTER_CLIENT_ID = '{{ twitter_client_id }}'
TWITTER_CLIENT_SECRET = '{{ twitter_client_secret }}'

GITHUB_CLIENT_ID = '{{ github_client_id }}'
GITHUB_CLIENT_SECRET = '{{ github_client_secret }}'

FACEBOOK_CLIENT_ID = '{{ facebook_client_id }}'
FACEBOOK_CLIENT_SECRET = '{{ facebook_client_secret }}'
