# coding: utf-8

bind = '{{ authlib_bind }}'
workers = 2

timeout = 30

max_requests = 1000
max_requests_jitter = 500

proc_name = '{{ authlib_app_name }}'

accesslog = None
errorlog = '-'
loglevel = 'warning'

secure_scheme_headers = {
    'X-FORWARDED-PROTO': 'https',
}
