SECRET_KEY = 'your-secret'

SQLALCHEMY_DATABASE_URI = 'sqlite:///db.sqlite'
AUTHLIB_CACHE_TYPE = 'simple'

GOOGLE_CLIENT_KEY = ''
GOOGLE_CLIENT_SECRET = ''

TWITTER_CLIENT_KEY = ''
TWITTER_CLIENT_SECRET = ''

GITHUB_CLIENT_KEY = ''
GITHUB_CLIENT_SECRET = ''

FACEBOOK_CLIENT_KEY = ''
FACEBOOK_CLIENT_SECRET = ''
