{% extends "base.html" %}

{% block body %}
  <section class="section">
    <div class="inner">
      <a href="{{ url_for('client.create_client', version=1) }}" class="btn">New OAuth 1 App</a>
      <a href="{{ url_for('client.create_client', version=2) }}" class="btn">New OAuth 2 App</a>
      <div class="divide"></div>
      <h2>OAuth 1 Apps</h2>
      {% for client in oauth1_clients %}
        <div class="client">
          <h3><a href="{{ url_for('client.edit_client', version=1, client_id=client.client_id) }}">{{ client.name }}</a>
          </h3>
          {% if client.website %}
            <p>{{ client.website }}</p>
          {% endif %}
          <ul>
            <li>Client ID: <strong>{{ client.client_id }}</strong></li>
            {% if client.client_secret %}
              <li>Client Secret: <strong>{{ client.client_secret }}</strong></li>
            {% endif %}
          </ul>
        </div>
      {% endfor %}
      <div class="divide"></div>
      <h2>OAuth 2 Apps</h2>
      {% for client in oauth2_clients %}
        <div class="client">
          <h3><a href="{{ url_for('client.edit_client', version=2, client_id=client.client_id) }}">{{ client.name }}</a>
          </h3>
          {% if client.website %}
            <p>{{ client.website }}</p>
          {% endif %}
          <ul>
            <li>Client ID: <strong>{{ client.client_id }}</strong></li>
            {% if client.client_secret %}
              <li>Client Secret: <strong>{{ client.client_secret }}</strong></li>
            {% endif %}
            <li>Scopes: {{ client.allowed_scopes }}</li>
            <li>Grants: {{ client.allowed_grants }}</li>
          </ul>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
