<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>{% block title %}Authlib Playground{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
  {% for src in assets.base.style %}
    <link rel="stylesheet" href="{{ src }}">
  {% endfor %}
  {% block extrahead %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
