{% extends "base.html" %}

{% block body %}
  {% if user %}
    <p>You have been logged in as <strong>{{ user.email }}</strong></p>
  {% else %}
    <p>Please log in with your <a href="{{ url_for('account.login') }}">Google account</a>.</p>
  {% endif %}
  {% if connects %}
    <h2>Connected Services</h2>
    <ul>
      {% for conn in connects %}
        <li>{{ conn.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if user %}
    <h2>Connect or Re-Connect</h2>
    <ul>
      {% for name in services %}
        <li><a href="{{ url_for('connect.bind', name=name) }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
