{% extends "base.html" %}

{% block body %}
  <header class="head">
    <div class="inner">
      <h1>Authlib Playground</h1>
      <p>Have a glimpse on OAuth clients and servers.</p>
    </div>
  </header>
  <div class="account">
    <div class="inner">
      {% if user %}
        <p>You are logged in as <strong>{{ user.name }}</strong></p>
        <div class="account_actions">
          <a href="" class="btn">Log Out</a>
          <a href="" class="btn">Connects</a>
          <a href="" class="btn">Apps</a>
        </div>
      {% else %}
        <p>Log in Playground</p>
        <div class="account_actions">
          <a href="" class="btn">Log In</a>
          <a href="" class="btn">Sign Up</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="intro">
    <div class="inner">

    </div>
  </div>
{% endblock %}
